node_modules/
tests/
.git/
*.log

.eslintrc.json
.vscode/settings.json
.DS_Store

# ignore source in build:
webpack.config.js
src/**
beauty-amp-core.js

# ignore personal files:
playground.js
TODO.md
*.amp
*.txt